.eventpicture{
	height: 100px;
	width: 100px;
	border-radius: 25px;
	overflow: hidden;
	object-fit: cover;
}


.googleFormData{
	max-width: 670px;
	max-height: 640px;
	overflow: scroll;
	margin:30px;
	float: right;
}

@media only screen and (max-width: 800px){
	.googleFormData{
		max-width: 100%;
		overflow-x: scroll;
	}
}