.wrapperBox {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.contactWrapper{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    max-width: 1020px;
    margin: 0 auto;
}