/* .backgroundMain{
    background-image: url(./backgroundImg.jpg);
    background-color:linear-gradient(217deg, rgba(254, 90, 21,0.6), rgb(254, 90, 21,0)),
               linear-gradient(127deg, rgba(26, 169, 95,0.6), rgba(26, 169, 95,0)),
               linear-gradient(336deg, rgba(38, 172, 155,0.6), rgba(38, 172, 155,0));
    
} */

/*
26, 169, 95
*/

.backgroundMain{
    background-image:url('./backgroundImg.png');
    position: relative;
}

.layer {
    /* background: linear-gradient(217deg, rgba(26, 169, 95,0.5), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(155, 25, 81, 1), rgba(26, 169, 95,0) 70.71%),
    linear-gradient(336deg, rgba(38, 172, 155,.5), rgba(38, 172, 155,0) 70.71%); */
    /* linear-gradient(45deg, rgba(38, 172, 155,.9), rgba(38, 172, 155,0) 70.71%); */
    
    /* position: absolute;    rgba(255,0,0,.3) */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}